body {
    background-color: white;
    color: black;
    font-family: sans-serif;
    font-size: 14px;
    font-style: normal;
    margin: 0;
}

.header {
    display: flex;
    flex: 1 0 67%;
    flex-wrap: nowrap;
    align-items: center;
    background-color: black;
    color: white;
    padding: 1.6vw 3vw;
    height: 50px;
}

.header-logo {
    flex: 1 1 33%;
    width: 33%;
}

.header-logo img {
    max-height: 30px;
}

.nav {
    width: 34%;
    flex: 1 1 34%;
    text-align: center;
}

.nav a {
    text-decoration: none;
    margin: 0 1.4vw;
    font-size: 16px;
    font-weight: bold;
}

.nav a:link, .nav a:active, .nav a:visited {
    color: white;
}

.actions {
    width: 33%;
    display: inline-flex;
    flex-grow: 0;
    flex-shrink: 1;
    align-items: center;
    justify-content: flex-end;
}

.actions a {
    border: 2px solid rgb(211, 212, 217);
    padding: .9em 1.5em;
    font-size: 14.17px;
    line-height: 18.5px;
}

.actions a:link, .actions a:active, .actions a:visited {
    color: rgb(211, 212, 217);
}

.content {
    padding: 6.6vmax 0;
}

.heading {
    text-align: center;
    margin-bottom: 32px;
}

h1 {
    font-size: 53px;
    font-weight: bold;
    line-height: 68px;
    letter-spacing: -1px;
    margin: 0;
}

table {
    table-layout: fixed;
    margin: 0 8px;
}

th, td {
    padding-right: 20px;
}

th {
    text-align: left;
}

td {
    vertical-align: top;
}

.row-title {
    width: 25%;
}

.row-name {
    width: 15%;
}

table a:link, a:active, a:visited {
    color: black;
}

.footer {
    margin-top: auto;
    position: relative;
    background-color: black;
    color: rgb(211, 212, 217);
    padding: 3.3vmax 3vw;
    min-height: 33vh;
    font-size: 16px;
    letter-spacing: 0.8px;
}

.footer a:link, .footer a:active, .footer a:visited {
    color: rgb(211, 212, 217);
}

.footer > div {
    display: inline-block;
    vertical-align: top;
}

.footer-column-1 {
    width: 25%;
}

.footer-column-1 img {
    display: block;
    width: 88.28px;
    height: 33.13px;
    margin-bottom: 21.27px;
}

.address {
    line-height: 20px;
    padding: 17px 0;
}

.name {
    margin-bottom: 16px;
}

.footer-column-2 {
    width: 8.33%;
}

.footer-column-3 {
    width: 25%;
}

.footer-column-3 a {
    display: block;
    margin-bottom: 16px;
}

.footer-column-4 {
    width: 41.67%;
}
